<h1>Ng if</h1>
<div *ngIf="title === 'directives'">The title variable is directives</div>
<div *ngIf="5 > 3">5 is bigger then 3</div>

<h1>Ngswitch</h1>
<div [ngSwitch]="choice">
  <div *ngSwitchCase="1">Choice 1</div>
  <div *ngSwitchCase="2">Choice 2</div>
  <div *ngSwitchCase="3">Choice 3</div>
  <div *ngSwitchCase="4">Choice 4</div>
</div>

<h1>Style</h1>
<div [style.background-color]="'green'">Green color</div>
<div [ngStyle]="{color: 'white', 'background-color': 'pink', 'font-size': '20px'}">My text</div>

<br>
<div>
  <label for="color">Color</label>
  <input type="text" name="color" value="{{ color }}" #colorinput>
</div>
<div>
  <label for="fontSize">Font</label>
  <input type="text" name="fontSize" value="{{ fontSize }}" #fontinput>
</div>
<button (click)="apply(colorinput.value, fontinput.value)">Apply changes</button>
<div>
  <span [ngStyle]="{color: color, 'font-size.px': fontSize}">This text has a color from an input</span>
</div>

<h1>Class</h1>
<div [ngClass]="classesObj">
  Using object literal. Border {{ isBordered ? 'On' : 'Off' }}
</div>

<h1>For</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>City</th>
    </tr>
  </thead>
  <tr *ngFor="let p of people">
    <td>{{ p.name }}</td>
    <td>{{ p.age }}</td>
    <td>{{ p.city }}</td>
  </tr>
</table>

<h1>Index</h1>
<div *ngFor="let c of people; let num = index">
  <div>{{ num + 1 }} - {{ c.city }}</div>
</div>

<h1>NonBindable</h1>
<span>{{ color }}</span>
<span ngNonBindable> This is what {{ color }} rendered</span>

